/* Tropic CSS */

/* Fuentes */
@import "fonts/nexabold/styles.css";
@import "fonts/sweetpea/styles.css";
@import "fonts/nexalight/styles.css";

/* Fonts */


/* CSS */

.header {
  margin-top: 80px;
  margin-bottom: 50px;
}

#bgvid {
  position: fixed !important;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  position: relative;
  padding: 15px;
}

.graphical-friend {
  position: relative;
  font-family: 'nexabold';
  font-size: 2.8em;
  color: white;
  text-shadow: 3px 3px 5px #555;
  float: right;
  margin-top: -165px;
}

.active {
  color: #00a4ff !important;
}

.dashed {
  background-image: url(img/simple_dashed.png);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1000;
  opacity: 0.7;
}

body {
  margin: 0;
}

.contenedor {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 1100px;
  height:inherit; 
}

.navbar-izq {
  float: left;
}

.navbar-der {
  float: right;
}

.navbar-buttons {
  position: relative;
  padding-top: 1px;
}

.navbar {
  position: relative;
  z-index: 9000;
  top:0;
  left:0;
  right:0;
  height: 80px;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateZ(0);
  background-color: #F59393;
  
}

.nav-buttons {
  position: relative;
  margin-top: 25px;
}

.nav-buttons a {
  margin-left: 35px;
  margin-top: 0px;
  font-family: 'nexabold';
  font-size: 1.4em;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}

.nav-buttons a:hover {
  transform: scale(1.3);
  text-shadow: 1px 1px 10px rgb(76, 255, 255);
  transition: all 0.2s ease-in;
}

.behance-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.behance-icon:hover {
  -webkit-filter: brightness(1.3);
}

.check-out:hover {
  text-shadow: 1px 1px 20px white;
}

#portfolio {
  background-color: #919091;
  padding-top: 45px;
  padding-bottom: 45px;
}

.portfolio-title {
  position: relative;
  font-family: 'nexabold';
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.portfolio-subtitle {
  position: relative;
  font-family: 'nexabold';
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.portfolio-imgs {
  position: relative;
  margin: 30px auto;
  width: 100%;
}

.thumb {
  float: left;
  transition: all 0.2s ease-in;
}

.thumb:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}

.large {
  width: 550px;
  height: 250px;
  background-color: rgb(255, 165, 165);
  float: left;
}

.short {
  width: 275px;
  height: 250px;
  background-color: rgb(165, 196, 255);
  float: left;
}

.long {
  width: 275px;
  height: 350px;
  background-color: rgb(165, 255, 179);
  float: left;
}

.clear {
  clear: both;
}

.col-5 {
  width: 50%;
  float: left;
  /* background-color: rgb(50,50,50); */
}

.col-10 {
  width: 100%;
  float: left;
  /* background-color: rgb(50,50,50); */
}

.col-4 {
  width: 33.3%;
  float: left;
}

.quote-contenedor {
  width: 100%;
  overflow: hidden;
}

.quote-bg {
  position: absolute;
  width: 100%;
  z-index: -1000;
  background: url(img/bg-footer.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.quote-img {
  margin-top: 4%;
  margin-bottom: 4%;
}

textarea {
  resize: none;
}

.fancybox-overlay {
  z-index: 999999 !important;
}

.whatwedo-text {
  font-family: 'nexabold';
  color: rgb( 37, 34, 34 );
  font-size: 2.2em;
  text-align: center;
}

#what-we-do {
  background-color: rgb( 205, 205, 205 );
  padding: 80px 0px;
}

.focus-text {
  font-family: 'sweetpea';
  color: rgb( 37, 34, 34 );
  font-size: 3.5em;
  letter-spacing: -4px;
  margin-top: 60px;
}

.focus-subtext {
  font-family: 'nexabold';
  color: rgb( 37, 34, 34 );
  font-size: 1.3em;
  margin-top: 25px;
}

.photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
}

.birds {
  background-image: url(img/bg-birds.jpg);
}

.leaves {
  background-image: url(img/bg-footer.jpg);
}

.tags-group {
  margin-top: 60px;
  display: -webkit-box;
}

.red-tags {
  font-family: 'nexabold';
  color: rgba( 37, 34, 34, 0.8 );
  font-size: 1.5em;
  background-color: rgb( 247, 148, 148 );
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0px 5px;
  line-height: 230%;
}

#bio {
  background-color: #f79494;
  padding: 80px 0px;
}

.bio-title {
  font-family: 'nexabold';
  color: white;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 60px;
}

.lau-title {
  font-family: 'sweetpea';
  color: white;
  font-size: 2em;
}

.lau-subtitle {
  font-family: 'nexabold';
  color: white;
  font-size: 1.2em;
}

.circle-container {
  width: 260px;
  height: 260px;
  border-radius: 500px;
  overflow: hidden;
  margin-top: 25px;
}

.bio-text {
  font-family:'nexalight';
  color: white;
  font-size: 1em;
  line-height: 140%;
}

.brown-color {
  padding-top: 80px;
  color: #252222 !important;
}

.email {
  font-family: 'nexabold';
  color: white;
  font-size: 2.2em;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-color: white;
  padding: 10px 0px;
  width: 590px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contact-title {
  font-family: 'nexabold';
  color: white;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 15px;
}

.iconhover:hover {
  -webkit-filter: brightness(0.9);
}

/* Media Queries */

@media (max-width: 1200px){
  .contenedor {
    width: 800px;
  }
}

@media (max-width: 800px){
  .contenedor {
    width: 600px;
  }
  
}

@media (max-width: 600px){
  .contenedor {
    width: 400px;
  }
  
  .navbar {
    height: 60px;
  }
  
  .nav-buttons a {
    font-size: 1em;
  }
  
  .nav-buttons {
    margin-top: 18px;
  }
}

@media (max-width: 420px){
  .contenedor {
    width: 260px;
  }
  .nav-buttons {
    margin-top: 15px;
    text-align: center;
  }
  
  .nav-buttons a {
    font-size: 1em;
    margin-left: 10px;
  }
  .col-5 {
    width: 100%;
  }
  .thumb {
    width: 50%;
  }
  .sm-single-row {
    width: 100% !important;
  }
  .email {
    font-size: 1em;
    width: 100%;
  }
  .graphical-friend {
    font-size: 2em;
    margin-top: -127px;
  }
  .logo img {
    width: 100%;
  }
  .header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .graphical-friend {
    font-size: 0.8em;
    margin-top: -43px;
  }
  .check-out {
    display: none;
  }
  .nav-buttons a {
    font-size: 0.8em;
    margin-left: 5px;
  }
  .behance-icon {
    display: none;
  }
  #what-we-do, #bio {
    padding: 25px 0px;
  }
  .focus-text {
    font-size: 3em;
    margin-top: 10px;
  }
  .tags-group {
    margin-top: 20px;
    display: block;
  }
  .red-tags {
    font-size: 0.9em;
    padding: 0 15px;
    margin: 12px 5px;
    line-height: 272%;
    display: block;
  }
  .focus-subtext {
    margin-top: 0px;
    font-size: 1em;
  }
  .whatwedo-text, .bio-title, .contact-title {
    font-size: 1.5em;
  }
  .bio-title {
    margin-bottom: 10px;
  }
  .iconhover {
    margin-top: 10px !important;
    margin-bottom: 15px;
  }
  .brown-color {
    padding-top: 25px;
  }
  .xs-size {
    font-size: 2em !important;
  }
  .xs-padding-bottom {
    padding-bottom: 25px !important;
  }
}

@media (max-width: 740px) and (orientation:landscape) {
  .nav-buttons {
    margin-top: 15px;
    text-align: center;
  }
  
  .nav-buttons a {
    font-size: 1em;
    margin-left: 10px;
  }
  .col-5 {
    width: 100%;
  }
  .thumb {
    width: 50%;
  }
  .sm-single-row {
    width: 100% !important;
  }
  .email {
    font-size: 1em;
    width: 100%;
  }
  .graphical-friend {
    font-size: 2em;
    margin-top: -127px;
  }
  .logo img {
    width: 100%;
  }
  .header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .graphical-friend {
    font-size: 0.8em;
    margin-top: -43px;
  }
  .check-out {
    display: none;
  }
  .nav-buttons a {
    font-size: 1em;
    margin-left: 15px;
  }
  .behance-icon {
    display: none;
  }
  #what-we-do, #bio {
    padding: 25px 0px;
  }
  .focus-text {
    font-size: 3em;
    margin-top: 10px;
  }
  .tags-group {
    margin-top: 20px;
    display: block;
  }
  .red-tags {
    font-size: 0.9em;
    padding: 8px 15px;
    margin: 0px 0px;
    line-height: 272%;
  }
  .focus-subtext {
    margin-top: 0px;
    font-size: 1em;
  }
  .whatwedo-text, .bio-title, .contact-title {
    font-size: 1.5em;
  }
  .bio-title {
    margin-bottom: 10px;
  }
  .iconhover {
    margin-top: 10px !important;
    margin-bottom: 15px;
  }
  .brown-color {
    padding-top: 25px;
  }
  .xs-size {
    font-size: 2em !important;
  }
  .xs-padding-bottom {
    padding-bottom: 25px !important;
  }
  .margin-auto-xs {
    margin: 0 auto;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .thumb {
    width: 50%;
  }
  .sm-single-row {
    width: 100% !important;
  }
  .red-tags {
    font-size: 1.4em;
  }
  .graphical-friend {
    font-size: 2em;
    margin-top: -127px;
  }
  .logo img {
    width: 50%;
  }
  .nav-buttons a {
    font-size: 0.9em;
  }
  .check-out {
    width: 75px !important;
    padding-bottom: 30px !important;
    margin-right: 5px !important;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .thumb {
    width: 50%;
  }
  .sm-single-row {
    width: 100% !important;
  }
}