
@font-face {
  font-family: 'sweetpea';
  src: url('Sweet_Pea.eot?#iefix') format('embedded-opentype'),  url('Sweet_Pea.woff') format('woff'), url('Sweet_Pea.ttf')  format('truetype'), url('Sweet_Pea.svg#Sweet_Pea') format('svg');
  font-weight: normal;
  font-style: normal;
}
